<form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
    <div class="form-group" *ngFor="let ctrl of form.productControls">
        <label>{{ctrl.label}}</label>
        <input class="form-control" 
             [(ngModel)]="newProduct[ctrl.modelProperty]"
               name="{{ctrl.modelProperty}}" formControlName="{{ctrl.modelProperty}}" />
        <ul *ngIf="(isFormSubmitted || ctrl.dirty) && ctrl.invalid">
            <li *ngFor="let error of ctrl.getValidationMessages()">{{error}}</li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="isFormSubmitted && !form.valid"
            [class.btn-secondary]="isFormSubmitted && !form.valid">
        Create
    </button>
</form>